---
http_interactions:
- request:
    method: get
    uri: "<API_URL>/posts/6"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1673269032'
      Etag:
      - W/"120-kxIuVC3UpKrGIRfIBmsZMsJaaiA"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 6,
          "title": "dolorem eum magni eos aperiam quia",
          "body": "ut aspernatur corporis harum nihil quis provident sequi\nmollitia nobis aliquid molestiae\nperspiciatis et ea nemo ab reprehenderit accusantium quas\nvoluptate dolores velit et doloremque molestiae"
        }
  recorded_at: Mon, 09 Jan 2023 12:57:08 GMT
[...]
- request:
    method: get
    uri: "<API_URL>/posts/7"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
      X-Ratelimit-Reset:
      - '1672955763'
      Etag:
      - W/"e1-wrK4SLERwov0EbpkNAKTHsvGWBs"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 7,
          "title": "magnam facilis autem",
          "body": "dolore placeat quibusdam ea quo vitae\nmagni quis enim qui quis quo nemo aut saepe\nquidem repellat excepturi ut quia\nsunt ut sequi eos ea sed quas"
        }
  recorded_at: Mon, 09 Jan 2023 13:08:30 GMT
recorded_with: VCR 3.0.3
