<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
  <p>Usuario logado <%= current_user.email %> </p>
<% else %>
  <p>Usuario não logado</p>
<% end %>

<% if admin_signed_in? %>
  <p>Adm logado <%= current_admin.email %> </p>
<% else %>
  <p>Adm não logado</p>
<% end %>